@font-face {
    font-family: x;
    src: url(Courier.ttf);
}

body {
    font-family: x;
    background-color: black;
    color: white;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98vh;
}

.box {
    text-align: center;
}

a {
    color: rgb(164, 166, 211);
}

h3 {
    position: relative;
    bottom: 30px;
}