@font-face {
    font-family: bleh2;
    src: url(KFOmCnqEu92Fr1Mu4mxK.woff2);
}

@font-face {
    font-family: bleh;
    src: url(C6VM2RT4EU2NNT5XZWVYHR7WOIOGM4EU.woff2);
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

.bottom p {
    font-family: bleh2;
}

.top h1 {
    font-family: bleh;
}

.container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.bottom {
    text-align: center;
    display: flex;
}

a {
    text-decoration: none;
    color: rgb(185, 185, 185);
}

img {
    border: 1px solid white;
    position: relative;
    right: 30px;
    border-radius: 100%;
}

.text {
    position: relative;
    top: 20px;
    line-height: 0.01px;
    display: flex;
    flex-direction: column;
}