@font-face {
    font-family: 'meow';
    src: url('/assets/font/TopazPlus.ttf');
}
    
body {
    text-align: center;
    overflow-x: hidden;
    box-sizing: border-box;
    font-family: 'meow', sans-serif;
    background-color: #ffffff;
    margin: 0;
    color: white;
    padding: 0;
}

h1 {
    position: relative;
    top: 10px;
}
    
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    user-select: none;
}

hr {
    width: 200px;
    color: white;
    margin: 20px;
    margin-top: -7px;
}

.wallpaper {
    background-image: url(/assets/img/wallpaper.jpg);
}
     
.box {
    display: flex;
    line-height: 25px;
    flex-direction: column;
}
    
pre {
    z-index: 1;
}
    
.container {
    text-shadow: 0 0 10px #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    animation: flicker 3.0s infinite;
}